<a href="https://colab.research.google.com/github/joaovitorfantecelle/ALGESTDADOS_20251/blob/main/Lista_de_exerc%C3%ADcios_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Victor Gabriel 1-15 // João Vitor 16-30

In [ ]:
#1
l = []
for i in range(15):
    num = int(input())
    l.append(num)
l2 = []
for num in l:
    if num not in l2:
        l2.append(num)
print(l2)

1
2
3
4
5
5
1
2
3
4
6
5
4
1
10
[1, 2, 3, 4, 5, 6, 10]

In [ ]:
#2
n = []
i = []
for _ in range(10):
    n.append(input())
    i.append(int(input()))
m = max(i)
p = i.index(m)
print ('maior idade é:')
print(n[p])

o
1
victor
18
i
2
p
3
l
4
i
5
negativo
-99
ç
5
sim
1
nao
1
maior idade é:
victor

In [ ]:
#3
l = []
for _ in range(10):
    l.append(int(input()))
for i in range(10):
    l[i] = l[i] / 3 if l[i] % 2 else l[i] / 2
print ('dividindo os números: ')
print(l)

1
2
3
4
5
6
7
8
9
10
dividindo os números:
[0.3333333333333333, 1.0, 1.0, 2.0, 1.6666666666666667, 3.0, 2.3333333333333335, 4.0, 3.0, 5.0]

In [ ]:
#4
f = input().split()
v = ['a', 'e', 'i', 'o', 'u']
r = [p for p in f if p[0].lower() in v]
print('as palavras que começam com vogal: ')
print(r)

essa é a questão 4
as palavras que começam com vogal:
['essa', 'a']

In [ ]:
#5
l = []
for _ in range(10):
    l.append(int(input()))
p = []
for n in l:
    if n > 1:
        eh = True
        for d in range(2, int(n**0.5)+1):
            if n % d == 0:
                eh = False
                break
        if eh:
            p.append(n)
print('os numeros primos: ')
print(p)

1
2
3
4
5
6
7
8
9
10
os numeros primos:
[2, 3, 5, 7]

In [ ]:
#6
l = []
for i in range(8):
    l.append(input())
print('é palindroma? ')
print(l == l[::-1])

1
2
1
1
2
1
2
1
é palindroma?
False

In [ ]:
#7
print('os 8 primeiros numeros é da lista a e os 8 ultimos da lista b ')
a = []
b = []
for i in range(10):
    a.append(int(input()))
for i in range(10):
    b.append(int(input()))
c = []
for n in a:
    if n in b and n not in c:
        c.append(n)
print("a interseção é: ")
print(c)

os 8 primeiros numeros é da lista a e os 8 ultimos da lista b
1
2
3
4
5
6
7
8
0
9
8
6
5
4
3
2
1
33
44
55
a interseção é:
[1, 2, 3, 4, 5, 6, 8]

In [ ]:
#8
l = []
while len(l) < 6:
    n = int(input())
    if 1 <= n <= 60 and n not in l:
        l.append(n)7
print('os numeros sorteados: ')
print(l)

2
2
2
1
3
4
5
6
os numeros sorteados:
[2, 1, 3, 4, 5, 6]

In [ ]:
#9
o = []
for i in range(10):
    o.append(int(input()))
n = []
s = 0
for x in o:
    n.append(s)
    s += x
print('a somas de todos os items anteriores: ')
print(n)

1
2
3
4
5
7
6
8
9
10
a somas de todos os items anteriores:
[0, 1, 3, 6, 10, 15, 22, 28, 36, 45]

In [ ]:
#10
l = []
for i in range(10):
    l.append(input())
l = [n for n in l if len(n) <= 10]
print('a frase sem palavras com mais de 10 caracteres: ')
print(l)

ele
é
otorrinolaringologista
médico
de
plantão
das
seis
a
seis
a frase sem palavras com mais de 10 caracteres:
['ele', 'é', 'médico', 'de ', 'plantão', 'das', 'seis', 'a', 'seis']

In [ ]:
#11
m = []
for i in range(4):
    linha = []
    for j in range(4):
        linha.append(int(input()))
    m.append(linha)
s = 0
for i in range(4):
    s += m[i][3 - i]
print('a soma da diagonal: ')
print(s)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
a soma da diagonal:
4

In [ ]:
#12
m = []
for i in range(5):
    l = []
    for j in range(5):
        l.append(int(input()))
    m.append(l)
r = [sum(l)/5 for l in m]
for l in m:
    print(l)
print('a media: ')
print(r)

10
20
30
40
50
60
70
80
90
10
20
30
40
50
60
70
80
90
10
20
30
40
50
60
70
[10, 20, 30, 40, 50]
[60, 70, 80, 90, 10]
[20, 30, 40, 50, 60]
[70, 80, 90, 10, 20]
[30, 40, 50, 60, 70]
a media:
[30.0, 62.0, 40.0, 54.0, 50.0]

In [ ]:
#13
m = []
for i in range(3):
    l = []
    for j in range(3):
        l.append(int(input()))
    m.append(l)
id = True
for i in range(3):
    for j in range(3):
        if (i == j and m[i][j] != 1) or (i != j and m[i][j] != 0):
            id = False
            break
for l in m:
    print(l)
print(id)

1
0
0
0
1
0
0
0
1
[1, 0, 0]
[0, 1, 0]
[0, 0, 1]
True

In [ ]:
#14
m = []
for i in range(3):
    l = []
    for j in range(3):
        l.append(int(input()))
    m.append(l)
s = True
for i in range(3):
    for j in range(3):
        if m[i][j] != m[j][i]:
            s = False
            break
print('é simetrica?? ')
print(s)

1
1
1
1
1
1
1
1
1
é simetrica??
True

In [ ]:
#15
m = []
for i in range(5):
    l = []
    for j in range(3):
        l.append(i * j)
    m.append(l)
for l in m:
    print(l)

[0, 0, 0]
[0, 1, 2]
[0, 2, 4]
[0, 3, 6]
[0, 4, 8]

In [ ]:
#16
matriz = []
for i in range(4):
    linha = []
    for j in range(4):
        valor = int(input(f"Digite o valor para a posição [{i}][{j}]: "))
        linha.append(valor)
    matriz.append(linha)

menores_colunas = []
for col in range(4):
    menor = matriz[0][col]
    for lin in range(1, 4):
        if matriz[lin][col] < menor:
            menor = matriz[lin][col]
    menores_colunas.append(menor)

print("Matriz 4x4:")
for linha in matriz:
    print(linha)

print("Menor valor de cada coluna:")
print(menores_colunas)

Digite o valor para a posição [0][0]: 1
Digite o valor para a posição [0][1]: 2
Digite o valor para a posição [0][2]: 3
Digite o valor para a posição [0][3]: 4
Digite o valor para a posição [1][0]: 5
Digite o valor para a posição [1][1]: 6
Digite o valor para a posição [1][2]: 7
Digite o valor para a posição [1][3]: 8
Digite o valor para a posição [2][0]: 9
Digite o valor para a posição [2][1]: 10
Digite o valor para a posição [2][2]: 11
Digite o valor para a posição [2][3]: 12
Digite o valor para a posição [3][0]: 13
Digite o valor para a posição [3][1]: 14
Digite o valor para a posição [3][2]: 15
Digite o valor para a posição [3][3]: 16
Matriz 4x4:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[13, 14, 15, 16]
Menor valor de cada coluna:
[1, 2, 3, 4]

In [ ]:
#17
matriz = []
for i in range(3):
    linha = []
    for j in range(3):
        valor = float(input(f"Digite o valor da posição [{i}][{j}]: "))
        linha.append(valor)
    matriz.append(linha)
a = matriz[0][0]
b = matriz[0][1]
c = matriz[0][2]
d = matriz[1][0]
e = matriz[1][1]
f = matriz[1][2]
g = matriz[2][0]
h = matriz[2][1]
i = matriz[2][2]

determinante = a*(e*i - f*h) - b*(d*i - f*g) + c*(d*h - e*g)

print("Determinante:", determinante)
1

Digite o valor da posição [0][0]: 1
Digite o valor da posição [0][1]: 23
Digite o valor da posição [0][2]: 3
Digite o valor da posição [1][0]: 4
Digite o valor da posição [1][1]: 5
Digite o valor da posição [1][2]: 6
Digite o valor da posição [2][0]: 7
Digite o valor da posição [2][1]: 8
Digite o valor da posição [2][2]: 9
Determinante: 126.0

In [35]:
#18
def ler_matriz(nome):
    return [[float(input(f"{nome}[{i}][{j}]: ")) for j in range(3)] for i in range(3)]

matriz1 = ler_matriz("Matriz1")
matriz2 = ler_matriz("Matriz2")

soma = [[matriz1[i][j] + matriz2[i][j] for j in range(3)] for i in range(3)]
diferenca = [[matriz1[i][j] - matriz2[i][j] for j in range(3)] for i in range(3)]


print("4Matriz Soma:")
for linha in soma:
    print(linha)

print("Matriz Diferença:")
for linha in diferenca:
    print(linha)

Matriz1[0][0]: 1
Matriz1[0][1]: 2
Matriz1[0][2]: 3
Matriz1[1][0]: 45
Matriz1[1][1]: 5
Matriz1[1][2]: 64
Matriz1[2][0]: 64
Matriz1[2][1]: 1
Matriz1[2][2]: 2
Matriz2[0][0]: 241
Matriz2[0][1]: 12
Matriz2[0][2]: 12
Matriz2[1][0]: 4
Matriz2[1][1]: 7
Matriz2[1][2]: 5
Matriz2[2][0]: 6
Matriz2[2][1]: 8
Matriz2[2][2]: 7
Matriz Soma:
[242.0, 14.0, 15.0]
[49.0, 12.0, 69.0]
[70.0, 9.0, 9.0]
Matriz Diferença:
[-240.0, -10.0, -9.0]
[41.0, -2.0, 59.0]
[58.0, -7.0, -5.0]

In [44]:
#19
print("Digite 10 elementos para o conjunto A:")
conjunto_a = set()
for i in range(10):
    elemento = input(f"Elemento {i+1} de A: ")
    conjunto_a.add(elemento)

print("\nDigite 10 elementos para o conjunto B:")
conjunto_b = set()
for i in range(10):
    elemento = input(f"Elemento {i+1} de B: ")
    conjunto_b.add(elemento)

intersecao = conjunto_a & conjunto_b
uniao = conjunto_a | conjunto_b
diferenca_a_b = conjunto_a - conjunto_b
diferenca_b_a = conjunto_b - conjunto_a

print("Interseção (A ∩ B):", intersecao)
print("União (A ∪ B):", uniao)
print("Diferença (A - B):", diferenca_a_b)
print("Diferença (B - A):", diferenca_b_a)

Digite 10 elementos para o conjunto A:
Elemento 1 de A: 1
Elemento 2 de A: 2
Elemento 3 de A: 3
Elemento 4 de A: 4
Elemento 5 de A: 5
Elemento 6 de A: 6
Elemento 7 de A: 7
Elemento 8 de A: 8
Elemento 9 de A: 9
Elemento 10 de A: 10

Digite 10 elementos para o conjunto B:
Elemento 1 de B: 10
Elemento 2 de B: 11
Elemento 3 de B: 12
Elemento 4 de B: 13
Elemento 5 de B: 14
Elemento 6 de B: 15
Elemento 7 de B: 16
Elemento 8 de B: 17
Elemento 9 de B: 18
Elemento 10 de B: 19

Interseção (A ∩ B): {'10'}
União (A ∪ B): {'4', '19', '13', '10', '12', '7', '18', '5', '1', '8', '9', '11', '15', '3', '16', '14', '2', '17', '6'}
Diferença (A - B): {'8', '1', '9', '4', '3', '7', '2', '5', '6'}
Diferença (B - A): {'19', '11', '13', '15', '12', '16', '14', '17', '18'}

In [ ]:
#20
frase = input("Digite uma frase: ")
letras = {c.lower() for c in frase if c.isalpha()}
print("Letras usadas:", letras)

Digite uma frase: vou jogar bola
Letras usadas: {'r', 'b', 'v', 'a', 'g', 'l', 'u', 'j', 'o'}

In [ ]:
#21
numeros = {x for x in range(1, 101) if x % 2 != 0 and x % 3 != 0}
print(numeros)

{1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97}

In [ ]:
#22
palavras = {input(f"Palavra {i+1}: ") for i in range(10)}
longas = {p for p in palavras if len(p) > 5}
print("Palavras com mais de 5 letras:", longas)

Palavra 1: bola
Palavra 2: futebol
Palavra 3: computador
Palavra 4: valorant
Palavra 5: celular
Palavra 6: durex
Palavra 7: garrafa
Palavra 8: fone
Palavra 9: teclado
Palavra 10: monitor
Palavras com mais de 5 letras: {'celular', 'futebol', 'garrafa', 'valorant', 'monitor', 'computador', 'teclado'}

In [ ]:
#23
A = set(map(int, input("Conjunto A (inteiros): ").split()))
B = set(map(int, input("Conjunto B (inteiros): ").split()))

print("A é subconjunto de B?", A <= B)
print("B é subconjunto de A?", B <= A)

Conjunto A (inteiros): 1234
Conjunto B (inteiros): 1234
A é subconjunto de B? True
B é subconjunto de A? True

In [ ]:
#24
import math

numeros = set(map(int, input("Digite números inteiros: ").split()))
quadrados = {n for n in numeros if math.isqrt(n)**2 == n}
print("Quadrados perfeitos:", quadrados)

Digite números inteiros: 9 10 12 14 16 18
Quadrados perfeitos: {16, 9}

In [ ]:
#25
funcionarios = {}
for _ in range(5):
    nome = input("Nome do funcionário: ")
    salario = float(input("Salário: R$ "))
    if salario < 2000:
        salario *= 1.10
    funcionarios[nome] = round(salario, 2)

print("Salários atualizados:", funcionarios)

Nome do funcionário: joao
Salário: R$ 2000
Nome do funcionário: vitor
Salário: R$ 2500
Nome do funcionário: murilo
Salário: R$ 1500
Nome do funcionário: david
Salário: R$ 1000
Nome do funcionário: pacheco
Salário: R$ 800
Salários atualizados: {'joao ': 2000.0, 'vitor': 2500.0, 'murilo': 1650.0, 'david': 1100.0, 'pacheco': 880.0}

In [ ]:
#26
alunos = {}
for _ in range(5):
    nome = input("Nome do aluno: ")
    notas = [float(input(f"Nota {i+1}: ")) for i in range(3)]
    alunos[nome] = notas

for nome, notas in alunos.items():
    media = sum(notas) / 3
    print(f"{nome}: média = {media:.2f}")

Nome do aluno: joao
Nota 1: 6
Nota 2: 2
Nota 3: 4
Nome do aluno: murilo
Nota 1: 10
Nota 2: 8
Nota 3: 9
Nome do aluno: david
Nota 1: 0
Nota 2: 2
Nota 3: 1
Nome do aluno: vitor
Nota 1: 10
Nota 2: 10
Nota 3: 10
Nome do aluno: soares
Nota 1: 4
Nota 2: 4
Nota 3: 4
joao: média = 4.00
murilo: média = 9.00
david: média = 1.00
vitor: média = 10.00
soares: média = 4.00

In [ ]:
#27
sinonimos = {
    "feliz": ["contente", "alegre", "satisfeito"],
    "triste": ["abatido", "deprimido", "infeliz"]
}

palavra = input("Digite uma palavra: ").lower()
print("Sinônimos:", sinonimos.get(palavra, "Nenhum sinônimo encontrado."))

Digite uma palavra: alegre
Sinônimos: Nenhum sinônimo encontrado.

In [ ]:
#28
dicionario = {}
for _ in range(10):
    palavra = input("Digite uma palavra: ")
    inicial = palavra[0].lower()
    dicionario.setdefault(inicial, []).append(palavra)

print(dicionario)

Digite uma palavra: bola
Digite uma palavra: chuteira
Digite uma palavra: trave
Digite uma palavra: campo
Digite uma palavra: celular
Digite uma palavra: mouse
Digite uma palavra: teclado
Digite uma palavra: monitor
Digite uma palavra: computador
Digite uma palavra: fone
{'b': ['bola'], 'c': ['chuteira', 'campo', 'celular', 'computador'], 't': ['trave', 'teclado'], 'm': ['mouse', 'monitor'], 'f': ['fone']}

In [ ]:
#29
produtos = {}
for _ in range(3):
    nome = input("Nome do produto: ")
    precos = [float(input(f"Preço loja {i+1}: ")) for i in range(3)]
    produtos[nome] = precos

maior_variacao = max(produtos.items(), key=lambda item: max(item[1]) - min(item[1]))
print("Produto com maior variação de preço:", maior_variacao[0])

Nome do produto: placa de vídeo
Preço loja 1: 1500
Preço loja 2: 1400
Preço loja 3: 1450
Nome do produto: placa mãe
Preço loja 1: 700
Preço loja 2: 750
Preço loja 3: 680
Nome do produto: mouse
Preço loja 1: 150
Preço loja 2: 200
Preço loja 3: 170
Produto com maior variação de preço: placa de vídeo

In [ ]:
#30
frase = input("Digite uma frase: ").lower()
palavras = frase.split()
contador = {}

for palavra in palavras:
    contador[palavra] = contador.get(palavra, 0) + 1

print(contador)

Digite uma frase: vou jogar valorant
{'vou': 1, 'jogar': 1, 'valorant': 1}